html{
  font-size: 18px;
}
body{
  color: white;
  font-family: Helvetica; sans-serif;
  font-siz: 1rem;
}

.container{
  width: 960px;
  margin: 0 auto;
}
/* header */

.header{
  background-color: black;
}
.header .container{
  display: flex;
  align-items: center;
  padding-top: .66rem;
  padding-bottom: .66rem;
  padding-left: .5rem;
}
.header img{
  height: 1.5rem;
  padding-right: 1rem;
}

/* main */

.main{
  height: 25rem;
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main .container{
  display: flex;
  align-items: center;
}
.little_moto{
  width: 20rem;
  padding: 2rem 3rem;
  top: 9rem;
  background-color: black;
}
h1,h4{
  font-weight: bold;
}
.little_moto h1{
  margin: 0.25rem 0;
  font-size: 2rem;
}

/* navigation */

nav{
  background-color: firebrick;
}
nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
a{
  color: white;
  text-decoration: none;
}

/* products */
.products, .business-info{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.product-pen{
  width: 30%;
}
.product-watch{
  width: 30%;
}
.product-glasses{
  width: 30%;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}
.image img{
  max-width: 8rem;
}
.text{
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}
.info{
  display: flex;
  flex-direction: column;
  color: black;
  width: 35%;
}
.title{
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.business-info{
  margin-bottom: 4rem;
}
footer{
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}
